html,
body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: monospace;
  overflow: hidden; /* Ensures the page doesn't scroll */

  touch-action: none; /* This prevents the default pan and zoom of the browser on touch */
}
#c {
  width: 100%;
  height: 100%;
  display: block;
}

#notifyBox {
  position: absolute;
  bottom: 0;
  background-color: salmon;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  overflow: none;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  max-width: 100vw;
  white-space: normal;
  overflow-wrap: break-word;
  opacity: 70%;
}
#loading {
  position: absolute;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
}
#loading > div > div {
  padding: 2px;
}
.progress {
  width: 50vw;
  border: 1px solid black;
}
#progressbar {
  width: 0;
  transition: width ease-out 0.5s;
  height: 1em;
  background-color: #888;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  animation: progressanim 2s linear infinite;
}

#leftConsole {
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  color: white;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  text-align: left;
  z-index: 1000;
  opacity: 0.9;
  border-bottom-left-radius: 8px;
}
#rightConsole {
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  color: limegreen;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  text-align: right;
  z-index: 1000;
  opacity: 0.9;
  border-bottom-left-radius: 8px;
}

@keyframes progressanim {
  0% {
    background-position: 50px 50px;
  }
  100% {
    background-position: 0 0;
  }
}
